asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
django-humanize
filelock
humanize
MouseInfo
mysql-connector-python
pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
python-barcode
python-version
pytweening
setuptools
sqlparse
tzdata
virtualenv