{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row justify-content-center mt-3">
    {% for post in data %}
    <div class="col-sm-3">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{ post.title }}</h5>
          <p class="card-text">{{ post.content }}</p>
          <p>Author: {{post.author.first_name}} {{post.author.last_name}} </p>
          <p>Catagory: 
            {% for cat in post.category.all %}
            <button class="btn btn-primary btn-sm m-1">{{cat.name}}</button>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
