{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center items-center min-h-screen">
    <div class="w-full max-w-md p-8 bg-white rounded-lg shadow">
        <h2 class="text-2xl font-semibold mb-6 text-center">Change Your Password</h2>
        <form method="post" class="space-y-6">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="{{ field.id_for_label }}" type="password" name="{{ field.name }}" placeholder="Enter {{ field.label|lower }}" value="">
                {% if field.errors %}
                    <p class="text-red-500 text-xs italic">{{ field.errors }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Change my password
            </button>
        </form>
    </div>
</div>
{% endblock content %}
