.box{
    /* height: 200px; */
    width: 200px;
    border: 2px solid red;
    text-align: center;
    padding: 20px;
}
.desc{
    /* font-style: italic; */
    color: goldenrod;
    text-align: center;
    font-size: 40px;
    font-family: "Poetsen One", sans-serif;
}
.box-all{
    width: 200px;
    height: 200px;
    margin-top: 10px;
}
.box1{
    border: 2px solid red;
}
.box2{
    border: 2px solid rgb(34, 219, 216);
}
.box3{
    border: 2px solid rgb(57, 12, 220);
}